@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

table {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

.dias > td {
  width: 3rem;
  aspect-ratio: 1;
  padding: 0.5rem;
  border: 1px solid black;
}

.mes {
  font-size: 1.3rem;
  font-weight: 600;
}

.dias-semana {
}

.sin-dia {
  background-color: lightgray;
  opacity: 0.5;
}

.dia-mes {
}
