@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

:root {
  /* COLORES */
  --color-400: #f2f2f2;
  --color-500: #0d0d0d;

  /* FUENTE Y PESOS*/
  --ff-main: 'Quicksand', sans-serif;
  --ff-300: 300;
  --ff-400: 400;
  --ff-500: 700;

  /* UTILIDADES */
  --gap: 1rem;
}

body {
  font-family: var(--ff-main);
  background-color: var(--color-500);
}

.container {
  display: flex;
  max-width: min(90vw, 25rem);
  flex-flow: column;
  margin: auto;

  /* SOLO PARA LA DEMO */
  padding-top: 10vh;
}

/* FORMULARIO */

form {
  display: flex;
  flex-flow: column;
  gap: var(--gap);
  width: 100%;
  padding: 2rem;
  background-color: var(--color-400);
  border-radius: 0 0 15px 15px;
}

/* INPUT */

.input-container {
  display: flex;
  flex-flow: column;
  gap: calc(var(--gap) * 0.08);
}

.input-titulo {
  text-transform: capitalize;
  font-weight: var(--ff-400);
  font-size: 1.2rem;
}

input:not([type='button']) {
  padding: 0.4rem;
  font-weight: var(--ff-300);
  font-size: 1rem;
  border: none;
  background-color: var(--color-400);
}

input:not([type='button']):focus {
  outline: none;
}

.input-focus {
  position: relative;
  width: 100%;
}

.input-focus::after,
.input-focus::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0px;
  left: 0px;
}

.input-focus::before {
  background-color: var(--color-500);
}

.input-focus::after {
  transform: scaleX(0);
  transform-origin: left;

  transition: transform 350ms ease;
}

input:not([type='button']):focus + span.input-focus::after {
  background-color: #0d0d0d;
  height: 2px;
  transform: scaleX(1);
}

/* CHECKBOX */

.check-container {
  display: flex;
  flex-flow: row;
  gap: calc(var(--gap) * 0.08);
}

.check-container > input {
  accent-color: var(--color-500);
}

/* SELECT */

.input-container > select {
  padding: 0.4rem;
  font-weight: var(--ff-300);
  font-size: 1rem;
  border: 1px solid var(--color-500);
  background-color: var(--color-400);
  border-radius: 10px;
}

/* BOTON */

button {
  cursor: pointer;
  margin-top: 1rem;
  font-weight: var(--ff-500);
  font-size: 1.4rem;
  max-width: 10rem;
  text-transform: uppercase;
  border: none;
  background-color: var(--color-500);
  color: var(--color-400);
}

/* LETRA */

.ejercicio {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 15px 15px 0 0;
  border: 2px solid var(--color-400);
}

h1 {
  color: var(--color-400);
}
