@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700;900&display=swap');

:root {
  /* FUENTES */
  --main-ff: 'Lexend', sans-serif;

  --ff-light: 300;
  --ff-regular: 400;
  --ff-bold: 700;
  --ff-extrabold: 900;

  /* COLORES */
  --color-400: #b5b4d9;
  --color-500: #7d7abf;
  --color-600: #393e59;
  --color-700: #f22e62;
  --color-800: #0d0d0d;
}

* {
  font-family: var(--main-ff);
  color: var(--color-800);
}

body {
  background-color: var(--color-600);

  /* DEMO ONLY */
  display: grid;
  align-items: center;
  justify-content: center;
}

form {
  position: relative;
  padding: 2rem;
  display: grid;
  gap: 1rem;
  flex-flow: column;
  background-color: var(--color-400);
  max-width: 30rem;
}

form::before {
  content: '';
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
  width: 100%;
  height: 100%;
  background-color: #f22e62;
  z-index: -1;
}

label,
legend {
  font-size: 18px;
  font-weight: var(--ff-bold);
  margin-bottom: -1rem;
}

input {
  font-weight: var(--ff-light);
}

[type='text'],
[type='number'] {
  margin-bottom: 1rem;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0.4rem;
  padding-bottom: 0px;
  border-bottom: 2px solid var(--color-600);

  transition: all 250ms ease-in;
}

/* [type='text']:focus,
[type='number']:focus {
  border-bottom: 4px solid var(--color-600);
} */

[type='button'],
[type='submit'] {
  position: relative;
  cursor: pointer;
  max-width: 10rem;
  padding: 0.6rem;
  text-transform: uppercase;
  font-weight: var(--ff-bold);
  font-size: 1.4rem;
  border: none;
  background-color: var(--color-700);
  color: var(--color-400);

  transition: transform 150ms ease-in;
}

[type='button']:hover,
[type='submit']:hover {
  transform: scale(1.05);
}

input[type='number'] {
  appearance: none;
}
