@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&display=swap');

:root {
  --acc-color: rgb(0, 0, 0);
}

body {
  font-family: 'Montserrat', sans-serif;
}

form {
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  max-width: 25rem;
  padding: 1rem;
  gap: 0.5rem;
}

label {
  font-weight: 600;
  font-size: 1.35rem;
  line-height: 1rem;
  margin-bottom: 0.45rem;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  font-weight: 300;
  border-radius: 0;
  border: 1px solid rgb(150, 150, 150);
  margin-bottom: 1.5rem;
}

input:focus {
  outline: none;
}

button {
  border-radius: 0;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  max-width: 10rem;
  border: none;
  background-color: var(--acc-color);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

p#resultado {
  margin: 1rem auto;
  max-width: 25rem;
}

/*
UTILIDADES
*/

span.error--text {
  color: red;
}
